:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.app {
  max-width: 500px;
  width: 100%;
  position: relative;
  max-height: 800px;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: #151618;
  overflow: hidden;
  border-radius: 20px;
}

.app__header {
  position: relative;
  z-index: 1;
}

.app__header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__header-button {
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  font-size: 0;
  padding: 5px;
  background-color: transparent;
  outline: none;
}

.app__header-button:hover {
  border-color: #646cff;
}

.app__header-form {
  position: relative;
}

.app__header-input {
  position: absolute;
  width: 250px;
  top: 0;
  right: -270px;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(5px);
  outline: none;
  color: #fff;
  font-size: 15px;
  transition: all 0.3s;
}

.app__header-input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.app__header-input--active {
  right: 40px;
}

.app__header-nav-list {
  background: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(7px);
  border-radius: 30px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 10px;
  width: 100%;
  overflow-x: scroll;
}

.app__header-nav-item {
  display: flex;
  border-radius: 22px;
}

.app__header-nav-link {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  color: #fff;
}

.app__header-nav-link:hover {
  background-color: rgba(255, 255, 255, 0.12);
  color: #fff;
}

.app__header-nav-link--active {
  background-color: rgba(255, 255, 255, 0.12);
}

.films__list {
  position: absolute;
  scroll-behavior: smooth;
  top: -200px;
  left: 100px;
  width: 320px;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  /* padding-top: 350px; */
  list-style: none;
  overflow-y: scroll;
}

.films__item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 420px;
  padding: 20px;
  background-color: transparent;
  border-radius: 50px;
  background-size: contain;
  background-position: center center;
  margin-bottom: 10px;
  box-shadow: inset 0px -100px 23px -3px rgba(0, 0, 0, 0.98);
}

.films__item:first-child {
  margin-top: 350px;
}

.films__item:last-child {
  margin-bottom: 300px;
}

.films__item__rating {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #ffd645;
  color: #151618;
  font-weight: 400;
  font-size: 13px;
}

.films__item-text {
  text-align: left;
}

.films__item__title {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0;
}

.films__item__genres {
  margin: 5px 0;
  font-size: 12px;
}
